.border1 {
    border: solid;
    border-color: #003399;
    border-width: 5px;
    position: relative;
}

.border3 {
    border: solid;
    border-color: gold;
    border-width: 5px;
    position: relative;
    height: 100%;
}

.lang {
    text-decoration: none;
}

h1 {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
}

.body {
    background-color: #fffdd0;
    margin: 0em;
}

.italy {
    height: 100px;
    width: auto;
}

.english {
    height: 100px;
    width: auto;
}